body {
    color: #2a2626;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 1.6em;
}

h1,
h2,
h3 {
    font-family: Neucha;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

section {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.background—Ålass::before {
    content: "";
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.header-image {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
}