body {
    color: #2a2626;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 1.6em;
}

h1,
h2,
h3 {
    font-family: Neucha;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

section {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.background—Ålass::before {
    content: "";
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-image {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
}

.text-columns {
    display: flex;
    gap: 30px;
}

.text-columns p {
    flex: 1;
}

.button {
    font-weight: bold;
    padding: 12px 24px;
}

header {
    position: relative;
}

.video-preview {
    width: 919px;
    height: 517px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    position: relative;
    top: 100px;
}

#preview-image h2 {
    margin-bottom: 30px;
}

#navigation h2 {
    font-size: 52px;
}

.card {
    padding: 24px;
}

.cards-number {
    padding-bottom: 40px;
    font-size: 64px;
    font-family: Neucha;
    line-height: 1;
}

#navigation {
    padding-top: 200px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card:hover {
    background-color: orange
}